<dl>
  <dt><label>*Título</label></dt>
  <dd><%= text_field :bulletin, :title, :size => 50, :maxlength => 70 %></dd>
</dl>

<dd><%= submit_tag "Salvar" %></dd>
<dd><%= link_to "Voltar", {:action => :index}, :class => :botao %></dd>



