<%= render :partial => notice %>
<h1><%= @interface.name%></h1>

<div id="component">
  <%= render :partial => "component" %>
</div>

<div id="layout">
  <%= render :partial => "layout" %>
</div>

