<dl>
  <dt><label>*Email:</label></dt>
  <dd><%= text_field :email, :email, :size => 60, :maxlength => 100 %></dd>
</dl>

<dd><%= submit_tag "Salvar" %></dd>
<dd><%= link_to "Voltar", {:action => :index}, :class => :botao %></dd>



